.template-form {
    text-align: center;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.template-form input {
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.bg-decorated-rounded {
    border-radius: 10px;
    background-color: rgba(125, 0, 200, 0.3);
}
